





<div class="container all-projects-container">
    <div class="all-projects-stats">
    <p>Explore Drink Makers</p>
</div>
    <div class="projects">


{{#each dbUser}}

	<article class=" bg-white pa3 b--black-10 project-card">

            <div class="tc project-portfolio">
                <div class="img-top hide-child dim">
                    <a href="/users/user/{{id}}">
                        <img src="{{this.image_url}}" class="dt db project-drink">
                        <span class="f6 ph3 pv2 mb2 black child bg-white" id="view-project-btn">VIEW DRINK-MAKER</span>
                    </a>
                </div>

                <img src="{{this.image_url}}" class="br-100 h3 w3 project-user grow">

                <h1 class="f4">{{this.name}}</h1>
                {{!-- <h4 class="f5">DRNX-MKR : <a href="/user/{{this.User.id}}">{{this.User.name}}</a></h4> --}}
                <h4 class="f5">Instagram: {{this.instagram_handle}}</h4>

                <hr class="mw7 bb b--black-10">
            </div>

            <p class="lh-copy measure center f6 black-70 project-info">

               {{this.about_me}}

            </p>
            


        </article>
{{/each}}

	</div>


</div>
