<header class=" black-80 tc pv2 avenir">

    <nav class="bt bb tc mw9 center mt1">
        <a class="f6 f7-l link bg-animate black-80 hover-bg-lightest-blue dib  ph4-l fl" href="/">CANVAS</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-lightest-blue dib  ph4-l" href="/">home</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-green dib  ph4-l" href="#">drink makers</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-blue dib  ph4-l" href="/projects" id="nav-projects">projects</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-pink dib  ph4-l" href="#">about</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-yellow dib  ph4-l" href="#">contact</a>

        {{> login-modal}}
    </nav>

</header>

<div class="container">

    <div class="users">

        {{#each dbUser}}

        <article class=" bg-white br1 pa3 pa4-ns mv3 ba b--black-10 project-card">

            <div class="tc project-portfolio">
                <img src="{{this.image_url}}" class="db project-drink grow" style="height: 500px; width: 400px;" alt="{{this.name}}" />
                <h1 class="f2">{{this.name}}</h1>
                <p class="lh-copy measure center f6 black-70 project-info">{{this.about_me}}</p>
                <h1 class="f4">{{this.instagram_handle}}</h1>
            </div>

            <a class="f6 link ba ph3 pv2 mb2 dib dark-gray grow" href="/user/{{id}}">VIEW U</a>

        </article>
        {{/each}}

    </div>

</div>