<header class=" black-80 tc pv2 avenir">

    <nav class=" tc center navbar navbar-default navbar-fixed-top" id="myScrollspy">
        <div class="navbar-collapse collapse">
            <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l fl" href="/">CANVAS</a>
            <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="/">home</a>
            <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="/users">drink makers</a>
            <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="/projects" id="nav-projects">projects</a>
            <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="#">about</a>
            <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="#">contact</a>

            {{> login-modal }}
        </div>
    </nav>

</header>

<div class="tc user-header center">
    <img src="{{this.image_url}}" class="br-100 pa1 ba b--black-10 h4 w4" alt="avatar">
    <h1 class="f5 f4-ns fw6 mid-gray">{{this.instagram_handle}}</h1>
    <h2 class="f6 gray fw2 ttu tracked">Los Angeles</h2>
</div>

<div class="container project-container">
    <section class="mw7 center sans-serif">
        <h2 class=" fw1 ph3 ph0-l"></h2>

        {{#each this.Projects}}
        <article class=" b--black-10">
            <div class="db ph3 ph0-l no-underline black" href="#0">
                <h1 class="f3 fw1 mt0 lh-title" id="project-title">{{this.Project.project_name}}</h1>
                <div class="flex flex-column flex-row-ns">

                    <div class="pr3-ns mb4 mb0-ns">
                        <img src={{this.Project.image_url}} class="db" id="project-img" alt="">
                    </div>

                    <div class="w-100 w-60-ns pl3-ns" id="project-info">
                        <p class="f6 f5-l lh-copy">INGREDIENTS</p>

                        <p class="f6 lh-copy mv0">By
                            <span id="user-name">{{this.about_me}}</span>
                        </p>
                        <br>
                        <br>
                        <br> {{> rating-stars}}

                        <a id="reviews-link">Write a Review</a>
                        <a class="f6 link dim ph3 pv2 mb2 dib black center" id="back-btn" data-id="{{id}}" href="/project/{{id}}/transaction">BACK THIS PROJECT</a>
                    </div>

                </div>
            </div>
        </article>
        {{/each}}
    </section>
</div>

</div>